[Override]

ncbi_gene_info_path=
ncbi_gene_summary_path=
ncbi_gene_datasets_path=
ncbi_gene_dataformat_path=
ncbi_homosapience_gene_data_uri=

omim_mim2gene_data_uri=

medgen_mim2gene_path=
medgen_omim_hpo_path=

orphanet_product4_path=
orphanet_product6_path=

mondo_owl_path=

gencc_submissions_path=

panelsearch_association_path=
panelsearch_manual_path=

hpo_phenotype_path=
hpo_inheritance_ja_path=
hpo_japanese_path=

kegg_disease_path=

genereviews_omim_path=

rdf_output_dir=