[Override]

ncbi_gene_info_path=
ncbi_gene_summary_path=
ncbi_gene_datasets_path=
ncbi_gene_dataformat_path=
ncbi_gene_info_url=

omim_mim2gene_data_path=
omim_mim2gene_data_url=

medgen_mim2gene_path=
medgen_mim2gene_url=
medgen_omim_hpo_path=
medgen_omim_hpo_url=

orphanet_product4_path=
orphanet_product4_url=
orphanet_product6_path=
orphanet_product6_url=

mondo_owl_path=
mondo_owl_url=

gencc_submissions_path=
gencc_submissions_url=

panelsearch_association_path=
panelsearch_manual_path=
panelsearch_manual_url=

hpo_phenotype_path=
hpo_phenotype_url=
hpo_inheritance_ja_path=
hpo_inheritance_url=
hpo_inheritance_path=
hpo_japanese_path=
hpo_japanese_url=

kegg_disease_path=
kegg_disease_source_path=../data/source/KEGG/latest/disease
kegg_disease_source_url=

genereviews_omim_path=
genereviews_omim_url=

rdf_output_dir=
